/* global style */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: 'Roboto';
  color: #fff;
}
:root{
  --primaryColor:#fff;
  --secondaryColor:#1f1f1f;
}

html {
  font-size: 10px;
}

strong {
  font-weight: 500;
}

.btn {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

input{
  border: none;
  outline: none;
}
.container {
  min-height: 100vh;
  background-color:var(--secondaryColor) ;
}

/* header style */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 5.6rem;
  background-color: #282828fa;
  z-index: 69;
}

.menu-btn {
  margin-right: 2.4rem;
  margin: 0 2.4rem;
}
.menu-btn svg{
  fill:var(--primaryColor);
}

.home-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  font-size: 1.3rem;
  font-weight: 500;
}
.home-btn svg{
  fill:var(--primaryColor);
}

.search-bar {
  width: 700px;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn .microphone{
  height: 2.5rem !important;
  width: 2.6rem !important;
  fill: var(--primaryColor);
  margin-left: -3rem;
}

@media only screen and (max-width: 630px) {
  .search-bar {
    width: 0;
    visibility: hidden;
  }

  .auth .btn {
    margin-right: 1.5rem;
  }
}

.search-input {
  width: 100%;
  height: 32px;
  padding: 1rem;
  margin-left: 4rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.55);
  border: 1px solid rgb(49, 49, 49);
}

.search-btn {
  min-width: 65px;
  height: 32px;
  margin-right: 4rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid rgb(49, 49, 49);
  background-color: #393939;
}

.search-btn img {
  width: 20px;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth .btn {
  margin-right: 2.4rem;
  height: 40px ;
}

@media only screen and (max-width: 630px) {
  .auth .btn,
  .menu-btn {
    margin-right: 1.5rem;
  }

  .menu-btn {
    margin: 0 1.5rem;
  }
}

.auth .profile {
  display: block;
  width:3.2rem !important;
  height: 3.2rem !important;
  margin-right: 4rem;
}

.cm-show-replies-btn img {
  margin-left: -6px;
}

<<<<<<< HEAD
.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sort-btn img {
  padding-right: 1rem;
}

.thumbnail-img-overlay img {
  width: 20px;
  height: 20px;
}

=======
>>>>>>> 76afd1c515d95cc8acfe9d6fceb80ade94fa1bbd
.auth .profile img{
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.options-btn{
    position: relative;
  }
  .options-btn svg{
    fill:var(--primaryColor)
  }
  .options-btn span{
    display: block;
    position: absolute;
    top: 5px;
    right: -7px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    line-height: 18px;
    background-color: #cc0000;
  }


  main {
    margin: 0 2.4rem 3rem 0;
  }
  
  .content {
    display: grid;
    grid-template: auto 1fr / 2fr 1fr;
    padding: 8rem;
  }
  
  @media only screen and (max-width: 1200px) {
    .content {
      padding: 8rem 1rem 1rem 1rem;
    }
  }
  
  @media only screen and (max-width: 1020px) {
    main {
      margin: 0 2rem 3rem 2rem;
    }
  
    .content {
      display: flex;
      flex-direction: column;
    }
  }
  
.video-container {
  border-bottom: 1px solid rgba(156, 92, 92, 0.2);
}
.options-btn{
  position: relative;
}
.options-btn svg{
  fill:var(--primaryColor)
}
.options-btn span{
  display: block;
  position: absolute;
  top: 5px;
  right: -7px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  line-height: 18px;
  background-color: #cc0000;
}
.player {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-info {
  padding-top: 2rem;
}

.video-title {
  font-size: 1.8em;
  font-weight: 400;
}

.video-primary-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px;
}

.video-views-date {
  font-size: 1.4rem;
  color: #aaa;
}

@media only screen and (max-width: 630px) {
  .video-views-date {
    max-width: 100px;
    min-width: 0;
    visibility: hidden;
    white-space: nowrap;
  }
}

.video-options {
  display: flex;
}

.video-options .btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  padding-left: 1rem;
  margin-left: 1rem;
}

.video-options .btn img {
  width: 20px;
  height: 20px;
}
.cm-show-replies-btn span {
  padding-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #3ea6ff;
}

.cm-like-btn span {
  padding-left: 1rem;
}

.video-options .btn span {
  color: #aaa;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 0.8rem;
}

.likes-percents {
  display: flex;
  padding-bottom: 1rem;
  padding-right: 1rem;
  border-bottom: 2px solid #aaa;
}

.video-options .like-btn {
  margin: 0;
}

.video-options .more-options-btn {
  padding: 0 1rem;
}

.video-options .more-options-btn img {
  align-self: flex-end;
  width: 24px;
  height: 24px;
}


/* description */

/* channel-info */

.channel-info {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}

.channel-logo img {
  width: 48px;
  border-radius: 50%;
}

.channel-primary-info {
  padding-left: 1.5rem;
}

.channel-name {
  display: flex;
  align-items: center;
}

.channel-name img {
  width: 1.4rem;
}

.channel-link {
  width: auto;
  padding-right: 0.4rem;
  text-decoration: none;
  font-size: 1.4rem;
}

.channel-subscribers-count {
  color: #aaa;
  font-size: 1.3rem;
}

.subscribe-btn {
  width: auto;
  height: auto;
  margin-left: auto;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #393939;
}

.video-description {
  margin-top: 1rem;
  padding-left: 6.3rem;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.video-description-para {
  font-size: 1.4rem;
}

.game-info {
  margin-top: 1.6rem;
  display: grid;
  grid-gap: 1.6rem;
  grid-auto-flow: column;
}

@media only screen and (max-width: 630px) {
  .game-info {
    grid-auto-flow: row;
  }
}

.card {
  display: flex;
  align-items: center;
  height: 100px;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.card img {
  height: 100%;
}

.card.gaming > img {
  margin-left: 1.6rem;
  border-radius: 50%;
  height: 55%;
}

.card-title {
  font-size: 1.6rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding-left: 1.6rem;
}

.card-link {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  text-decoration: none;
  color: #aaa;
}

.game-year {
  padding: 0.6rem 0;
  font-size: 1.2rem;
  color: #aaa;
}

.show-more-btn {
  width: auto;
  margin: 1.6rem 0;
  font-size: 1.3rem;
  font-weight: 500;
  color: #aaa;
}

/* aside */

aside {
  grid-column: 2;
  grid-row: 1 / span 2;
}

/* up-next */

.up-next {
  margin-bottom: 0.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.autoplay {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-bottom: 0.5rem;
}

.autoplay a {
  padding: 0.5rem 1rem;
  margin-right: 3rem;
  border-radius: 15px;
  font-size: 15px;
  background-color: #393939;
  align-items: center;
  text-decoration: none;
}
.autoplay a:first-child{
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
}

.thumbnail {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 1rem;
  text-decoration: none;
}

.duration {
  width: 100%;
  padding: 0.5rem;
  margin-top: -2.7rem;
  text-align: right;
}

.duration span {
  padding: 0.1rem 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 2px;
  background-color: #000;
}

.thumbnail-img {
  position: relative;
}

.thumbnail-img img {
  height: 96px;
}

.thumbnail-info {
  padding: 0 1rem;
}

.thumbnail-title {
  width: 202px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 0 1rem 0.5rem 0;
  font-size: 1.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 1200px) {
  .thumbnail-title {
    width: auto;
  }
}

.thumbnail-channel-name {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: #aaa;
}

.thumbnail-channel-name > img {
  margin-left: 0.5rem;
  width: 14px;
}

.thumbnail-video-info {
  padding-top: 0.2rem;
  padding-bottom: 0.3rem;
  font-size: 1.3rem;
  color: #aaa;
}

.thumbnail-new {
  padding: 0.1rem 0.5rem;
  background-color: rgb(51, 51, 51);
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #aaa;
}

.thumbnail-img-overlay {
  visibility: hidden;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
}

.thumbnail-img-overlay .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin: 0.4rem 0.4rem 0 0;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.9);
}

<<<<<<< HEAD
=======
.thumbnail-img-overlay img {
  width: 20px;
  height: 20px;
}

>>>>>>> 76afd1c515d95cc8acfe9d6fceb80ade94fa1bbd
.thumbnail-overlay {
  visibility: hidden;
  position: absolute;
  right: 0;
}
  
.thumbnail-overlay .btn {
  margin-right: -1rem;
}

.thumbnail:hover .thumbnail-img-overlay,
.thumbnail:hover .thumbnail-overlay {
  visibility: initial;
}
.comments-info {
  display: flex;
  align-items: center;
}

.comments-count {
  font-size: 1.6rem;
}

.sort-btn {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: 3rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #aaa;
}

.new-comment,
.comment {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
}

.comment-input {
  flex-grow: 1;
  align-self: self-start;
  margin: 0 2.4rem 0 1.5rem;
  height: 2.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #393939;
}

.comment {
  align-items: initial;
}

.comment-info {
  margin-left: 1.5rem;
}

.comment-user {
  display: flex;
  align-items: center;
}

.user-name,
.comment-time {
  font-size: 1.3rem;
}

.comment-time {
  padding-left: 0.5rem;
  color: #aaa;
}

.comment-text {
  padding: 0.5rem 0 0.5rem 0;
  line-height: 1.5;
  font-size: 1.4rem;
}

.comment-options,
.cm-show-replies-btn {
  display: flex;
  align-items: center;
}

.comment-options .btn {
  display: flex;
  align-items: center;
  width: auto;
  height: 32px;
  color: #aaa;
}

.comment-options .btn img {
  width: 16px;
  height: 16px;
}

.btn.cm-like-btn,
.btn.cm-dislike-btn {
  padding-right: 1.5rem;
}

.cm-like-btn span,
.cm-reply-btn span {
  font-size: 1.3rem;
  font-weight: 500;
  color: #aaa;
}

.cm-reply-btn {
  padding: 0 1rem;
}

.cm-show-replies-btn {
  width: auto;
}
